<div class="flex flex-col  justify-evenly ">
  <div class="grid  grid-cols-2 gap-2 px-1 py-1  h-42">
    <div class=" w-full  h-14 flex items-center justify-center  bg-gray-300 rounded-md ">Comunidad</div>
    <div class=" w-full  flex items-center justify-center  rounded-md row-span-2">
      <img class="h-full max-w-28 object-contain mx-2" src="img_5.png" alt="politecnico logo">


    </div>
    <div class=" w-full  h-14 flex items-center justify-center bg-gray-300 rounded-md">Posgrado</div>
    <div class=" w-full  h-14 flex items-center justify-center bg-gray-300 rounded-md">Vinculación</div>
    <div class=" w-full  h-14 flex items-center justify-center bg-gray-300 rounded-md">Oferta educativa</div>
  </div>


</div>
