<div class="h-screen flex justify-center items-center p-5">
  <div class="border-amber-400 border-2 rounded-xl h-full w-96  ">
    <div class="flex flex-row w-full h-28 bg-white">
      <img class="h-full max-w-40 object-contain mx-2" src="img_1.png" alt="politecnico logo">
      <img class="h-full max-w-28 object-contain mx-2" src="img_2.png" alt="politecnico logo">
      <img class="h-full max-w-28 object-contain mx-2" src="img_3.png" alt="politecnico logo">
    </div>

    <div class="flex flex-col     p-1">
      <div class="grid  grid-cols-2 gap-2 px-1 py-1  h-42">
        <div class=" w-full  h-14 flex items-center justify-center  bg-gray-300 rounded-md">Comunidad</div>
        <div class=" w-full  flex items-center justify-center bg-gray-300 rounded-md row-span-2">
          <img class="h-full max-w-28 object-contain mx-2" src="img_5.png" alt="politecnico logo">

        </div>
        <div class=" w-full  h-14 flex items-center justify-center bg-gray-300 rounded-md">Posgrado</div>
        <div class=" w-full  h-14 flex items-center justify-center bg-gray-300 rounded-md">Vinculación</div>
        <div class=" w-full  h-14 flex items-center justify-center bg-gray-300 rounded-md">Oferta educativa</div>
      </div>
      <div class="flex flex-col">
        <img class="h-full " src="img_4.png" alt="politecnico logo">
      </div>

      <div class="flex gap-2 px-1 py-1  h-14 bg-red-500">
        <div class=" w-full   flex items-center justify-center  bg-gray-300 rounded-md">Ayuda y soporte</div>
        <div class=" w-full   flex items-center justify-center bg-gray-300 rounded-md ">Continuar la llamada</div>
      </div>
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
