<div class="h-screen flex justify-center items-center p-5 ">
  <div class="border-amber-400 border-2 rounded-xl h-full w-96 overflow-scroll flex flex-col p-1">
    @if (showSecondMenu){
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="showSecondMenu = false">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <div class="flex flex-row w-full h-28 mt-1 justify-around items-center">
      <img class="h-30 w-40 object-scale-down" src="img_1.png" alt="politecnico logo">
      <img class="h-full max-w-25 object-scale-down" src="img_2.png" alt="politecnico logo">
      <img class="h-full max-w-25 object-scale-down" src="img_3.png" alt="politecnico logo">
    </div>

    @if (!showSecondMenu){
      <app-menu-one (onClickSecondMenu)="showSecondMenu = true"></app-menu-one>
    } @else {
      <app-menu-second></app-menu-second>
    }

    <app-carousel class="h-auto"></app-carousel>

    <span class="text-sm text-center w-full mt-auto">Powered by S10 Plus 2024 - All Rights Reserved</span>
  </div>
</div>
